* linguist-vendored
*.dart linguist-vendored=false
*.dart linguist-language=Dart
windows/* linguist-vendored=true
linux/* linguist-vendored=true
macos/* linguist-vendored=true
android/* linguist-vendored=true
ios/* linguist-vendored=true